@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1c1826;
}

.shadowcostum {
  background-color: rgba(0, 0, 0, 0.6);
    padding: '10px';
    border-radius: '5px';
    box-shadow: '0 4px 10px rgba(0, 0, 0, 0.5)';
    border:1px;
}